<footer class="footer-main">
  <div class="footer-container container">
    <div class="footer-wrapper">
      <div class="footer-logo-wrapper">
        <div class="footer-logo-box">
          <a href="" class="footer-logo"
            ><svg class="footer-mob-logo">
              <use href="img/sprite.svg#icon-logo-mobile"></use>
            </svg>
          </a>
          <p class="footer-text">
            Whether you're looking for a healthy snack or a thoughtful gift, our
            fruit baskets are the perfect choice.
          </p>
        </div>
      </div>
      <div class="footer-links-wrapper">
        <ul class="footer-menu">
            <li class="footer-menu-list">
              <a href="#how-it-works" class="footer-menu-item">how it works</a>
            </li>
            <li class="footer-menu-list">
              <a href="#vegatables" class="footer-menu-item">vegetables</a>
            </li>
            <li class="footer-menu-list">
              <a href="#reviews" class="footer-menu-item">reviews</a>
            </li>
        </ul>
        <address class="footer-address">
          <ul class="footer-contacts">
            <li class="footer-contacts-item">
              <a href="tel:+380684439426" class="footer-contacts-link"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-contacts-item">
              <p class="footer-contacts-link">
                1678 S. Pioneer Road Salt Lake City UT 84104
              </p>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="footer-policy">
      <p class="footer-policy-link">
        <a href="" class="footer-link">Privacy Policy</a>
        <span class="footer-link">/</span>
        <a href="" class="footer-link">Cookie Settings</a>
      </p>
      <a href="" class="footer-link">©Green Harvest 2023</a>
    </div>
  </div>
</footer>
