<header class="page-header">
  <div class="container header-container">
    <nav class="nav-list">
      <a href="../index.html" class="logo-header"
        ><svg class="logo-svg" width="216" height="20">
          <use href="../img/sprite.svg#icon-logo-mobile"></use>
        </svg>
      </a>
      <ul class="nav-li">
        <li class="nav-item">
          <a class="header-link" href="#How it works">How It Works</a>
        </li>
        <li class="nav-item">
          <a class="header-link" href="#Vegetables">Vegetables</a>
        </li>
        <li class="nav-item">
          <a class="header-link" href="#Reviews">Reviews</a>
        </li>
      </ul>
      <button class="header-btn" type="button">Shop now</button>
    </nav>
  </div>
</header>
