<header class="page-header">
  <div class="container header-container">
    <nav class="nav-list">
      <a href="../index.html" class="logo-header"
        ><svg class="logo-svg" width="168" height="16">
          <use href="../img/sprite.svg#icon-logo-mobile"></use>
        </svg>
      </a>
      <ul class="nav-li">
        <li class="nav-item">
          <a class="header-link" href="#How it works">How It Works</a>
        </li>
        <li class="nav-item">
          <a class="header-link" href="#Vegetables">Vegetables</a>
        </li>
        <li class="nav-item">
          <a class="header-link" href="#Reviews">Reviews</a>
        </li>
      </ul>
      <a class="btn" href="#">Shop now</a>
    </nav>
    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="32" height="32">
        <use href="../img/sprite.svg#icon-mobile-burg"></use>
      </svg>
    </button>
  </div>
  <!-- Mobile Menu -->
  <div class="mobile-overlay">
    <div class="mobile-menu-box">
      <button class="btn-close-mob-menu" type="button">
        <svg class="btn-close-mob-menu-icon" width="32" height="32">
          <use href="img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item white-item">
            <a href="#how-it-works" class="mobile-menu-link">How It Works</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#vegetables" class="mobile-menu-link">Vegetables</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#reviews" class="mobile-menu-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <a href="#your-order" class="mobile-menu-btn">Shop now</a>
      <!-- <button class="mobile-menu-btn" type="button">Shop now</button> -->
    </div>
  </div>
</header>
