.order {
  background-color: #576f35;
  padding: 80px 0;
  position: absolute;
}
.order-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 0.9em;
  letter-spacing: -0.72px;
  text-align: left;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-left: 20px;
}
.span-title {
  color: #d4bfc4;
  margin: 0;
}
.order-text {
  color: #fbfbfb;
  font-size: 14px;

  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: 0px;
  text-align: left;
  padding: 20px 0 40px 0;
  max-width: 335px;
  margin-left: 20px;
}
.order-form-container {
  background-color: #fbfbfb;
  width: 335px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  margin: 0 auto;
}
.order-form-title {
  color: #141414;
  font-family: Inter Tight;
  font-size: 28px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: -1.5%;
  text-align: left;
  text-transform: uppercase;
  padding: 40px 20px 0 20px;
  margin-bottom: 40px;
}
.span-form-1 {
  color: #7a3145;
  font-size: 28px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: -0.42px;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
}
.span-form-2 {
  color: #576f35;
  font-size: 28px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: -0.42px;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 20px;
}

.input-wrap {
  margin-bottom: 16px;
}
.form-input {
  width: 295px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 30px;
  padding: 0 20px;
  gap: 10px;
  outline: none;
  color: #141414;
}
.form-input::placeholder {
  color: #141414;
}
.form-input:focus {
  border: 1px solid rgb(122, 49, 69);
}
.form-input:not(:placeholder-shown):invalid {
  border: 1px solid rgb(231, 74, 59);
}
.form-input:not(:placeholder-shown):valid {
  border: 1px solid rgb(60, 188, 129);
}

.form-comment {
  position: static;
  width: 295px;
  height: 92px;
  box-sizing: border-box;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 15px;
  margin-left: 20px;
  color: #141414;
  padding: 16px 14px;
  outline: transparent;
  resize: none;
}
.form-comment::placeholder {
  color: rgb(20, 20, 20);
}
.form-comment:focus {
  border: 1px solid rgb(122, 49, 69);
}
.form-btn {
  background-color: #7a3145;
  color: #fbfbfb;
  width: 295px;
  height: 52px;
  border-radius: 30px;
  margin: 20px 20px 40px 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.11em;
  letter-spacing: -0.27px;
  text-transform: uppercase;
  border: none;
}
.form-btn:hover,
.form-btn:focus {
  background-color: #fde1e1;
  color: #7a3145;
}
.order-container-img {
  background-color: #7a3145;
  width: 335px;
  height: 456px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.img-order {
  margin: 40px 20px 20px 20px;
  border-radius: 15px;
}
.order-img-text {
  color: #d4bfc4;
  margin-left: 20px;
  padding-bottom: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43em;
  letter-spacing: 0px;
}
.menu-link {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
.menu-item-link {
  display: flex;
}
.order-link {
  color: #fbfbfb;
  font-family: Inter Tight;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -1.5%;
  text-align: left;
  text-transform: uppercase;
}
.order-text-link {
  color: #fbfbfb;
  font-family: Inter Tight;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.11;
  letter-spacing: -0.27px;
  text-align: left;
  text-transform: uppercase;
  padding: 0 8px;
}
/*TABLET*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .order-container {
    max-width: 768px;
  }
  .order {
    padding: 0 0 100px 0;
    position: relative;
  }
  .order-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: -0.96px;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    max-width: 640px;
  }
  .title-text-container {
    padding: 100px 0 52px 32px;
  }
  .span-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: -0.96px;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    max-width: 640px;
  }
  .order-text {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25em;
    letter-spacing: 0px;
    text-align: left;
    max-width: 640px;
  }
  .order-form-container {
    width: 640px;
  }
  .order-form-title {
    padding: 72px 100px 0 100px;
    font-size: 32px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: -0.48px;
    text-align: left;
    text-transform: uppercase;
  }
  .span-form-1,
  .span-form-2 {
    padding: 0;
  }
  .form-input {
    width: 440px;
    height: 52px;
  }
  .form-comment {
    width: 440px;
    height: 96px;
  }
  .form-btn {
    width: 440px;
    height: 52px;
  }
  .order-container-img {
    width: 640px;
    height: 528px;
    padding-bottom: 100px;
  }
  .img-order {
    width: 536px;
    height: 316px;
    margin: 52px;
  }
  .order-img-text {
    margin-left: 52px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25em;
    letter-spacing: 0px;
  }
  .menu-link {
    margin-left: 52px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.11em;
    letter-spacing: -0.27px;
    text-align: left;
    text-transform: uppercase;
  }
  .order-text-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.11em;
    letter-spacing: -0.27px;
    text-align: left;
    text-transform: uppercase;
    padding-left: 12px;
    padding-right: 12px;
  }
}
/*DESKTOP*/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .order-container {
    max-width: 1280px;
  }
  .order {
    padding: 100px;
  }
  .order-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: -0.96px;
    text-align: left;
    text-transform: uppercase;
    max-width: 751px;
  }
  .order-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25em;
    letter-spacing: 0px;
    text-align: left;
    max-width: 742px;
  }
  .title-text-container {
    padding: 0;
  }
  .span-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: -0.96px;
    text-align: left;
    text-transform: uppercase;
    max-width: 751px;
  }
  .order-form-container {
    width: 524px;
    margin: 0;
  }
  .order-form-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: -0.48px;
    text-align: left;
    text-transform: uppercase;
    padding: 52px 48px 0 48px;
  }
  .span-form-1,
  .span-form-2 {
    padding: 0;
  }
  .form-input {
    width: 428px;
    height: 52px;
  }
  .form-comment {
    width: 428px;
    height: 96px;
  }
  .form-btn {
    width: 428px;
    height: 52px;
  }
  .order-container-img {
    width: 524px;
    height: 592px;
    margin: 0;
  }
  .img-order {
    width: 428px;
    height: 352px;
    margin: 52px 48px 80px 48px;
  }
  .order-img-text {
    margin-left: 48px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25em;
    letter-spacing: 0px;
    text-align: left;
  }
  .menu-link {
    margin-left: 48px;
  }
  .order-form-img-container {
    display: flex;
    gap: 32px;
  }
}
